<div class="col-xs-12">
    <h2 ng-if="editMode">Edit Customer Information</h2>
    <h2 ng-if="!editMode">Create Customer</h2>
 
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Name:</label>

            <div class="controls">
                <input type="text" size="30" id="inputFirstName" ng-model="customer.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Mail</label>

            <div class="controls">
                <input type="text" size="30" id="inputLastName" ng-model="customer.email"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small btn-default">cancel</a>
                <a ng-if="editMode"  ng-click="updateCustomer()" class="btn btn-small btn-primary">update customer</a>
                <a ng-if="!editMode" ng-click="createCustomer()" class="btn btn-small btn-primary">create customer</a>
            </div>
        </div>     
    </form>   
</div>