<div>
    <img src="./images/background.png" width="150" />

    <h1>Customer CRUD Demo</h1>
    <p>This demo shows a combination of a JEE7 REST Backend with a Angular HTML5 Single Page Application.
    </p>
    <p>It is a basic CRUD interface to the customer table of the derby sample
        database. The sample database is included in the Netbeans 8 JEE Edition.
    </p>

    <h2>Components</h2>
    <p>This sample uses the following frameworks / components
    <ul>
        <li>REST Server
            <ul>
                <li>Netbeans 7</li>
                <li>Glassfish 4</li>
                <li>JAXRS</li>
                <li>JPA</li>
            </ul>
        </li>
        <li>HTML5 Client
            <ul>
                <li>Netbeans 7</li>
                <li>Angular JS</li>
                <li>Yeoman - YO, Grunt, Bower</li>
                <li>Bootstrap CSS</li>
            </ul>
        </li>
    </ul>  
</p>

<h2>Architecture</h2>
<img src="./images/architecture.png" alt="acrhitecure image" width="600" />
<p>
    Fig 1. Architecture of the CRUD Single Page Application.
<ul> 
    <li>Benefits
        <ul>
            <li>Stateless server provide the best scalability.</li>
            <li>Reusable REST service can support multiple frontend channels</li>
            <li>Best for native HTML5 and JS developers</li>
        </ul>
    </li>

    <li> Drawbacks
        <ul>
            <li>Developers which implements both Tiers have to learn multiple technologies</li>
            <li>Only a small part of the client technlogy is standarized.</li>
            <li>Refactoring in JavaScript is problematic.</li>         
        </ul>
    </li>
    </p>
</div>
